body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;}

  h1 {
    text-align: center;
    margin-top: 5rem;
}

.guest-item {
  display: flex;
  justify-content:space-between;
  padding: 10px;
  border: dotted 1px rgb(109, 11, 11);
  margin-top: 2rem;

}
.guest-list {
  margin: auto;
  width: 30%;
}

.details {
  display: flex;
  flex-direction: column;
  border: solid 1px rgb(109, 11, 11);
  width: 30%;
  margin: 5rem auto;
  padding: 10px;
}

.backLink{
  margin-left: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  border: solid 1px rgb(109, 11, 11);
  width: 30%;
  margin: 5rem auto;
  padding: 10px;
  padding-inline: 10px;
}

form > * {
  margin: 0.5rem;
  height: 2rem;
}

nav {
  display: flex;
  background-color: rgb(168, 105, 118);
  padding: 0.5rem;
  justify-content: space-around;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

nav a {
  color: cornSilk;
  padding: 0.5rem;
}

nav a.selected {
  border: solid 1px cornSilk;
}